#Resume-Left-Side{
    width: 70%;
}

#Resume-Right-Side{
    width: 30%;
}

@media screen and (max-width: 1050px) {
    #Resume-Left-Side, #Resume-Right-Side{
        width: 100%;
    }
}

@media screen and (min-width: 2050px) {
    #Resume-Left-Side{
        width: calc(100% - 600px);
    }

    #Resume-Right-Side{
        width: 565px;
    }
}